n8n/.n8n/cris2brain-workflows/fwUWhko8EvJGhudZ-upload_binary_txt_file_to_supabase_vector_store_for_rag.json
{
  "name": "upload binary txt file to supabase vector store for rag",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -352,
        224
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        144,
        160
      ],
      "id": "0fa155e4-7027-4c97-b5a1-1880ed66eb70",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "lA0o46Q2tiFIVs6K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        320
      ],
      "id": "13a925df-ee1b-4d9f-b861-24f5e2ff9ee6",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "YA6qoMgCKF0zAZdp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "textLoader",
        "binaryDataKey": "={{ $('When Executed by Another Workflow').item.binary.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "to_drive_folder",
                "value": "={{ $('When Executed by Another Workflow').item.binary.data.targetFolderId }}"
              },
              {
                "name": "filename",
                "value": "={{ $('When Executed by Another Workflow').item.binary.data.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        304
      ],
      "id": "a47344d5-8aba-4cf5-85fb-2e7e527a2dd2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "893b603e-4f10-4f58-b4ec-fdf9ffafcb3a",
              "leftValue": "={{ $binary.data.mimeType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        304
      ],
      "id": "eaf4c4e9-f4ea-4dce-8da8-6d66e875259f",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "invalid file format, must be text."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        176,
        528
      ],
      "id": "b6ea07f2-adad-41b4-befc-8da0ec71c718",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "46647591-06bc-44dc-a1c8-d09190c56b8d",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        400
      ],
      "id": "9472e509-38aa-42b0-a54b-b2566f2fc929",
      "name": "Webhook",
      "webhookId": "46647591-06bc-44dc-a1c8-d09190c56b8d"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "text_content": "[Miércoles meridiano 07-01-2026]\n\n00:00 - Segundo audio de prueba para la transcripción de bitácora y delegación a su workflow para el guardado en Supabase Vector Store.\n00:13 - Palabra clave para preguntar en el contexto del chat es canela.",
          "fileName": "2026_01_07.12.52.txt"
        },
        "binary": {
          "data": {
            "data": "W01pw6lyY29sZXMgbWVyaWRpYW5vIDA3LTAxLTIwMjZdCgowMDowMCAtIFNlZ3VuZG8gYXVkaW8gZGUgcHJ1ZWJhIHBhcmEgbGEgdHJhbnNjcmlwY2nDs24gZGUgYml0w6Fjb3JhIHkgZGVsZWdhY2nDs24gYSBzdSB3b3JrZmxvdyBwYXJhIGVsIGd1YXJkYWRvIGVuIFN1cGFiYXNlIFZlY3RvciBTdG9yZS4KMDA6MTMgLSBQYWxhYnJhIGNsYXZlIHBhcmEgcHJlZ3VudGFyIGVuIGVsIGNvbnRleHRvIGRlbCBjaGF0IGVzIGNhbmVsYS4=",
            "mimeType": "text/plain",
            "fileName": "bitacora_transcrita.txt",
            "targetFolderId": "1QW3JzDdNHU7WDCnInW3dua3IHAvGCs7U",
            "fileExtension": "txt"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": false,
  "versionId": "efaae17c-1ed2-4398-830a-396653f75198"
}