n8n/.n8n/cris2brain-workflows/mC7e0k60AcN04k7H-Error_Notification_to_Telegram.json
{
  "name": "Error Notification to Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "c2e37d19-8533-4f43-832f-ed42303f7f1b",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "errorMessage",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "errorNode",
              "value": "={{ $json.error.node.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "workflowName",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "executionId",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99b53bb6-b5e7-4a3d-8857-1632f3c08664",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "8130067397",
        "text": "={{ '🚨 *Workflow Error Alert*\\n\\n*Workflow:* ' + $('Workflow Configuration').item.json.workflowName + '\\n*Node:* ' + $('Workflow Configuration').item.json.errorNode + '\\n*Error:* ' + $('Workflow Configuration').item.json.errorMessage + '\\n*Execution ID:* ' + $('Workflow Configuration').item.json.executionId }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "c1e10d18-e84a-4667-8248-b6a9054c3629",
      "name": "Send Error to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "webhookId": "33aff956-ed79-4b67-af2c-42bbce845520",
      "credentials": {
        "telegramApi": {
          "id": "XALExDyyrXoZFWD9",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Send Error to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null,
  "active": false,
  "versionId": "cc8e4a8b-746f-427f-b1bf-d8dee065433c"
}